<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Besoin de renfort ?</h2>
		<br/>
		<h3>Indépendants et agences web:</h3>
		<p>
			Vous avez été <strong>pris de court sur l'un de vos projets</strong>, et craignez de ne pas réussir à <strong>tenir vos deadlines</strong> ? Vous faites partie d'une équipe de graphistes et avez <strong>besoin d'un développeur</strong> pour la structure de l'un de vos projets ? Je propose également <strong>mes services au forfait</strong> dans les technologies suivantes :
			<li><strong>PHP (Symfony 2)</strong></li>
			<li><strong>Ruby (Rails)</strong></li>
		</p>
		<br/>
		<h3>Sociétés de service en ingénierie informatique (SSII):</h3>
		<p>
			Pour des raisons de philosophie personnelle, <strong>je ne souhaite pas travailler avec de telles structures</strong>.
		</p>
		<br/>
	</div>

</div>