<div class="sidebar-nav span3 fill pull-left" id="base-menu">
  <div class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ path('jk_static_pages_homepage', { 'part': 'pro' }) }}">
          Professionnels
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '' %}
              icon-arrow-right icon-white
            {% endif %}">
            </i>
          </a>
        </li>
        <li>
          <a href="{{ path('jk_static_pages_homepage', { 'part': 'perso' }) }}">
          Particuliers
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '/perso' %}
              icon-arrow-right icon-white
            {% endif %}">
            </i>
          </a>
        </li>
        <li>
          <a href="{{ path('jk_static_pages_homepage', { 'part': 'freelance' }) }}">
          Sous-traitance
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '/freelance' %}
              icon-arrow-right icon-white
            {% endif %}">
            </i>
          </a>
        </li>
      </ul>
  </div>
</div>