<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Le web pour tous:</h2>
		<br/>
		<p>
			Il n'est pas nécessaire d'avoir quelque chose à vendre pour souhaiter <strong>être présent sur le web</strong>. Vous pouvez par exemple avoir besoin d'un <strong>blog</strong> pour partager votre passion <strong>avec le plus grand nombre</strong>, ou pour <strong>promouvoir un événement particulier</strong> (anniversaire, mariage, concert, etc.). Vous pouvez également avoir besoin d'un site vous permettant de <strong>gérer la communication et l'organisation</strong> entre les différents membres de votre groupe de musique, ou de votre association à but non lucratif…
		</p>
		<br/>
		<p>
			Conscient que <strong>le budget d'un particulier n'est pas celui d'un professionnel</strong>, je vous propose aussi des solutions plus <strong>accessibles</strong> et <strong>rapidement mises en place</strong> afin de vous permettre, sans vous ruiner, de <strong>laisser libre cours à vos idées les plus folles</strong>.
		</p>
		<br/>
		<p>
			N'hésitez pas à me contacter pour que nous vérifiions ensemble la viabilité de votre <strong>projet personnel</strong>, avec les mêmes <strong>garanties de service et de soin</strong> que celles que j'apporte aux projets professionnels.
		</p>
		<br/>
	</div>

</div>