<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Développer son activité en ligne:</h2>
		<br/>
		<h3>Le conseil :</h3>
		<p>
			Vous avez la volonté d'<strong>étendre votre activité sur le web</strong>, mais n'avez aucune idée de la manière de vous y prendre ? Vous hésitez entre une simple <strong>vitrine virtuelle</strong> et un <strong>site marchand</strong> ?
			Pas d’inquiétude à avoir, je peux vous aider à <strong>prendre les décisions les plus adaptées à votre problématique</strong>, à vos <strong>ambitions</strong>, et à votre <strong>budget</strong>, afin que vous puissiez vous focaliser sur <strong>vos objectifs métier</strong> avec <strong>vos propres termes</strong>.
		</p>
		<br/>
		<h3>Le développement :</h3>
		<p>
			Même la meilleure des idées reste inefficace si l'on n'est pas capable de la <strong>concrétiser</strong>. C'est pour cette raison que je vous propose mes <strong>compétences techniques</strong> en accord avec les dernières <strong>normes et technologies du web</strong>. Que vous ayez choisi une <strong>solution prête à l'emploi</strong>, ou un <strong>projet plus ambitieux</strong>, assurez-vous ainsi d'avoir un produit qui <strong>suivra votre évolution</strong> sans risquer de tomber dans l'obsolescence après quelques semaines d'utilisation.
		</p>
		<br/>
		<h3>Les à-côtés :</h3>
		<p>
			Tous les professionnels en sont conscients : <strong>efficacité rime souvent avec visibilité</strong>. Pour coller au mieux à cette constatation, je vous propose également de m'occuper de votre existence en tant qu'<strong>entité web</strong>. Qu'il s'agisse de vous faire ressortir aux <strong>meilleures places dans les résultats des moteurs de recherche</strong>, ou de vous offrir des <strong>solutions clés en main</strong> pour être présent sur les <strong>réseaux sociaux</strong> les plus en phase avec votre activité, <strong>ne laissez aucun recoin du web vous ignorer !</strong>
		</p>
		<br/>
	</div>

</div>