<div id="text-header" class="span3">
	<img src="{{ asset('bundles/jkstaticpages/images/biopic-small.jpg')}}" class="img-circle"/>
	<blockquote id="text-header-quotation"><p>
		"Pour réussir, il ne suffit pas de prévoir. Il faut aussi savoir improviser."<br/>
		<small><cite>Isaac Asimov, Fondation.</cite></small>
	</p></blockquote>
</div>