<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jérémie Kaszub développeur web indépendant{% endblock %}</title>
        <meta name="Author" content="Jérémie Kaszub"/>
        <meta name="Category" content="Développement web, concrétisation d'ambitions web, e-commerce, sites vitrine"/>
        <meta name="Description" contant="Site professionnel de Jérémie Kaszub, développeur web indépendant spécialisé dans les solutions web personnalisées aux commerçants, PME et particuliers."/>
        <meta name="Keywords" content="Développement, Symfony2, Ruby on Rails, Bootstrap, Prestashop, référencement, web, sciences humaines, informatique, philosophie, médiation, e-commerce, vitrine, blog"/>
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
            'bundles/jkbootstraptwig/css/jk-bootstrap.css'
            filter='lessphp,cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "::header.html.twig" %}

        <div class="row fill pull-left" id="main-content">
        {% block body %}{% endblock %}
        </div>

        {% include "::footer.html.twig" %}

        {% block javascripts %}
        {% javascripts
            '../vendor/jquery/jquery/jquery-1.9.1.min.js'
            '../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
