<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jérémie Kaszub{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
            'bundles/jkbootstraptwig/css/jk-bootstrap.css'
            filter='lessphp,cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "::header.html.twig" %}

        <div class="container">
        {% block body %}{% endblock %}
        </div>

        {% include "::footer.html.twig" %}

        {% block javascripts %}
        {% javascripts
            '../vendor/jquery/jquery/jquery-1.9.1.min.js'
            '../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
