<footer class="footer navbar-fixed-bottom" id="jkfooter">

	Tous droits réservés : <a href="http://jeremiekaszub.com">Jérémie Kaszub</a> (SIRET: 804 686 038 00014) - 2014. Photographies : <a href="http://www.chrisnutt.org">Chris Nutt</a>.

</footer>
