<footer class="footer navbar-fixed-bottom" id="jkfooter">

	Site developpé et mis en page par Jérémie Kaszub grâce aux frameworks <a href="#">Symfony2</a> et <a href="#">Bootstrap</a>. Mail : jeremie.kaszub@gmail.com. Tel : +336-64-16-15-87. Disponible pour tous vos projets personnels et professionnels.

</footer>
