<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h3>Le présent site :</h3>
		<br/>
		<p>
			Développement de mon <strong>site d'informations personnelles</strong> relatives à mon activité de développeur web indépendant.<br/>
			<strong>Pour le compte de:</strong></p><a href="http://jeremiekaszub.com">Jérémie Kaszub</a>.</p>
			<strong>Technologies employées:</strong>
			<li>PHP5 (Symfony2)</li>
			<li>CSS3 (Twitter Bootstrap)</li>
			<li>Git</li>
		</p>
		<br/>
		<p>
			Mon activité ayant débuté en septembre 2014, cette liste va être amenée à s'étoffer au fil des mois qui viennent. Elle sera mise à jour en conséquence.
		</p>
	</div>

</div>