<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Projets Professionnels</h2>
		<br/>
		<h3>Informatiques:</h3>
		<p>
			Mise en place d'un <strong>blog</strong> pour un site de <strong>e-commerce</strong> de réparation de smartphones.<br/>
			<strong>Pour le compte de:</strong></p>Alpine Lab (pour <a href="http://www.savemysmartphone.fr/">SaveMySmartPhone</a>).</p>
			<strong>Technologies employées:</strong>
			<li>Ruby (Ruby on Rails)</li>
			<li>Amazon Web Services</li>
			<li>PostGre SQL</li>
			<li>Git</li>
		</p>
		<br/>
		<p>
			Réalisation d'un site de <strong>e-commerce</strong> pour le compte d'une boutique de vente d'objets de décoration intérieure.<br/>
			<strong>Pour le compte de:</strong></p>Terres Ambrées (site en cours de développement).</p>
			<strong>Technologies employées:</strong>
			<li>Prestashop</li>
			<li>MySql</li>
			<li>CSS3</li>
			<li>Git</li>
		</p>
		<br/>
		<h3>Autres:</h3>
		<p>
			<strong>Community Manager</strong> en Freelance pour une société de jeu vidéo en ligne basée à Montréal.<br/>
			<strong>Pour le compte de:</strong></p><a href="http://www.woozworld.com/">WoozWorld Inc</a>.</p>
			<strong>Compétences développées:</strong>
			<li>Télétravail</li>
			<li>Traductions anglais/français</li>
			<li>Rapports d'analyse d'un marché</li>
			<li>Communication avec les clients</li>
		</p>
		<br/>
		<p>
			Mon activité ayant débuté en septembre 2014, cette liste va être amenée à s'étoffer au fil des mois qui viennent. Elle sera mise à jour en conséquence.
		</p>
	</div>

</div>