<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h3>Durant mes formations:</h3>
		<p>
			Réalisation d'un site de <strong>jeu en ligne</strong> de type "pendu", avec <strong>gestion des utilisateurs</strong> et <strong>gestion des statistiques</strong>.<br/>
			<strong>Technologies employées:</strong>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>php5</li>
			<li>mySql</li>
		</p>
		<br/>
		<p>
			Réalisation d'un site de <strong>e-commerce</strong> fictif de vente en ligne de pizzas.<br/>
			<strong>Technologies employées:</strong>
			<li>ASP.NET</li>
			<li>C#</li>
			<li>Microsoft SQL server</li>
		</p>
		<br/>
		<h3>Stages:</h3>
		<p>
			Création d'une brique logique en charge de l'adaptation des exercices proposés aux apprenants dans un logiciel de <strong>e-learning</strong>. (3 mois)<br/>
			<strong>Pour le compte de:</strong></p>Laboratoire d'informatique de Grenoble (LIG).</p>
			<strong>Technologies employées:</strong>
			<li>Prolog</li>
		</p>
		<br/>
		<p>
			Migration technique d'une solution de <strong>monitoring</strong>/ obsolète vers une <strong>solution HTML5</strong>. (6 mois)<br/>
			<strong>Pour le compte de:</strong></p>CGI (pour Dalkia).</p>
			<strong>Technologies employées:</strong>
			<li>Java</li>
			<li>ASP.NET</li>
			<li>javascript (bibliothèques Highcharts et Highstock)</li>
			<li>Oracle SQL Developer</li>
		</p>
		<br/>
	</div>

</div>