<div class="sidebar-nav span3 fill" id="base-menu">
  <div class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ path('jk_static_pages_formationpage', { 'part': 'humansciences' }) }}">
          Sciences humaines
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '' %}
              icon-play icon-white
            {% endif %}">
            </i>
          </a>
        </li>
        <li>
          <a href="{{ path('jk_static_pages_formationpage', { 'part': 'it' }) }}">
          Informatique
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '/it' %}
              icon-play icon-white
            {% endif %}">
            </i>
          </a>
        </li>
        <li>
          <a href="{{ path('jk_static_pages_formationpage', { 'part': 'sum' }) }}">
          Résumé
            <i class="
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path(app.request.attributes.get('_route')) ~ '/sum' %}
              icon-play icon-white
            {% endif %}">
            </i>
          </a>
        </li>
      </ul>
  </div>
</div>