<div id="main-text" class="span12 row">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>En quelques mots :</h2>
		<br/>
		<p>
			Né en 1983, en plein essor de la <strong>révolution culturelle « geek »</strong>, j'ai depuis toujours baigné dans les <strong>innovations technologiques</strong> qui ont façonné le rapport à l'informatique qui caractérise notre monde actuel. Des premiers modems bruyants offrant une vitesse de connexion anecdotique, jusqu'à la fibre optique, en passant par la révolution des smartphones et du « tout connecté, tout le temps ».
		</p>
		<br/>
		<p>
			C'est au cœur de cette effervescence que j'ai bâti non seulement la majeure partie des goûts culturels qui me définissent (science fiction, jeux vidéo, comics, gadgets hi-tech…), mais aussi mon <strong>projet professionnel</strong>.
		</p>
		<br/>
		<p>
			Mais l'informatique n'est pas la seule corde à mon arc. En effet, j'ai aussi toujours nourri une passion dévorante pour les sciences, qu'elles soient humaines ou dures, en ayant à cœur de toujours <strong>comprendre, et faire comprendre</strong>, les choses en profondeur et pas par principe.
		</p>
		<br/>
		<p>
			C'est aujourd'hui fort de cette <strong>double casquette technologique et humaine</strong> que je vous propose mes services pour tous vos projets web, qu'ils soient <strong>professionnels ou personnels</strong>. N'hésitez pas à naviguer sur ce site pour obtenir de plus amples informations.
		</p>
	</div>

</div>