<div id="main-text" class="span12 row">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h3>Sciences Humaines :</h3>
		<br/>
		<h4>2007-2009:</h4>
		<p>
			1ère et 2ème année de licence <strong>sciences humaines et sociales</strong>, mention <strong>philosophie</strong>.<br/>
			Université de Savoie. Jacob-Belcombette.
		</p>
		<br/>
		<h4>2009-2010:</h4>
		<p>
			3ème année de licence <strong>sciences humaines et sociales</strong>, mention <strong>philosophie</strong>.<br/>
			Université Pierre Mendès-France. Grenoble.
		</p>
		<br/>
		<h4>2010-2011:</h4>
		<p>
			1ère année de master professionnel en <strong>médiation scientifique dans les domaines de la bioéthique</strong>.<br/>
			Université Michel de Montaigne. Bordeaux.
		</p>
		<br/>
		<h3>Informatique :</h3>
		<br/>
		<h4>2011-2013:</h4>
		<p>
			Master professionnel <strong>informatique, création, cognition et apprentissage</strong>, spécialité <strong>double compétence informatique et sciences sociales</strong>.<br/>
			Université Pierre Mendès-France. Grenoble.
		</p>
	</div>
</div>