<div id="main-text" class="container-fluid span12 row">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Ma démarche :</h2>
		<br/>
		<p>
			L'univers de la <strong>création de sites internet</strong> peut sembler rebutante pour la plus grande partie des utilisateurs. Il suffit en effet de regarder la complexité des solutions prêtes à l'emploi supposées être destinées au grand public pour s'en rendre compte. De telles solutions demandent généralement un <strong>investissement en temps</strong> que la plupart des intéressés ne peuvent se permettre, pour un rendu souvent bien trop générique pour marquer les esprits.
		</p>
		<br/>
		<p>
			Ainsi, le développement d'une <strong>solution web efficace</strong>, quelle qu'en soit la vocation, est un <strong>métier à part entière</strong>, possédant son jargon technique et sa logique, que n'ont pas nécessairement à posséder ceux qui veulent <strong>être présent sur la toile</strong>.
		</p>
		<br/>
		<p>
			C'est conscient de ces réalités que je vous propose de me <strong>déléguer chacune des étapes de la concrétisation de vos ambitions web</strong>, quelle qu'en soit la mesure. De la <strong>mise en forme de vos idées</strong>, à votre <strong>formation à l'utilisation de vos nouveaux outils</strong>, en passant par l'<strong>optimisation de vos réseau sociaux</strong>, je vous accompagnerai et servirai d'<strong>intermédiaire entre vos objectifs et leur traduction dans le monde numérique</strong>.
		</p>
	</div>

</div>