<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Me suivre en ligne :</h2>
		<br/>
		<h4><a href="http://github.com/JeremieKaszub">GitHub</a></h4>
		<br/>
		<h4><a href="http://www.facebook.com/jeremiekaszubdevweb">Facebook</a></h4>
		<br/>
		<h4><a href="http://www.linkedin.com/pub/j%C3%A9r%C3%A9mie-kaszub/79/840/a8a">LinkedIn</a></h4>
		<br/>
		<h4><a href="http://twitter.com/JKaszub">Twitter</a></h4>
		<br/>
		<p>N'hésitez pas à vous servir des liens disponibles dans l'entête de ce site à tout moment de votre navigation pour atteindre mes différentes pages sociales.
		</p>
	</div>

</div>