<div id="main-text" class="span12">

	{% include "JKStaticPagesBundle::_text-header.html.twig" %}
	<div id="text-content" class="span8">
		<br/>
		<h2>Comment me joindre ?</h2>
		<br/>
		<h4>Par téléphone :</h4>
		<p>
			+33(0)6-64-16-15-87. Disponible du lundi au vendredi, de 9h à 19h (GMT +1), pour répondre à toutes les questions concernant vos projets.
		</p>
		<br/>
		<h4>Par courrier électronique :</h4>
		<p>
			<email>jeremie.kaszub@gmail.com</email>.
		</p>
		<br/>
		<h4>Par voie postale :</h4>
		<p>
			<address>
				Le Beau Soleil Bâtiment C<br/>
				29 Montée de Tresserve<br/>
				73100 Tresserve<br/>
				France
			</address>
		</p>
	</div>

</div>